html, body{
    margin: 0;
    color: rgba(187,196,51,255);
    font-family: 'Didact Gothic', sans-serif;
}
nav{
    margin: 2rem 1rem 1rem 0rem;
}
.main-nav{
    list-style-type: none;
    display: flex;
    
}
.main-nav>li{
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    font-size: medium;
    font-weight: 10px;
}
.main-nav a{
    text-decoration: none;
    color: rgba(187,196,51,255);
}
.main-nav>li:hover{
    transform: scale(1.05);
}

.push-right{
    margin-top: 10px;
    margin-left: auto;
}
.push-left{
    margin-top: 10px;
}
.push-right{
    padding-top: 10px;
    text-transform: uppercase;
    background-color: rgba(42,55,63,255);
    color: white;
    border-radius: 4px;
}
.push-right li{
    padding-top: 10px;
}
.push-right a{
    color: white;
    text-align: center;
}


h1{
    color: rgba(65,51,50,255);
    font-weight: bold;
    font-size: 70px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    font-size: 30px;
}
.intro p{
    max-width: 30rem;
}
.illustration img{
    margin-left: 30px;
    /* min-width: 20rem; */
    /* max-height  : 35rem; */
    max-width: 30rem;
}
@media only screen and (max-width:600px){
    .illustration img{
        margin-left: 30px;
        /* min-width: 20rem; */
        /* max-height  : 35rem; */
        max-width: 20rem;
    }
        .container{
            padding: 0px 20px;
        }

}


.btn-learn{
    background-color: rgba(42,55,63,255);
    color: white;
    padding:10px;
    border-radius: 4px;
    margin-top: 5px;
}
.btn-learn:hover{
    transform: scale(1.1);
}
.about{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(198,206,69,1) 100%);
    /* background: rgb(198,206,69);
    background: linear-gradient(90deg, rgba(198,206,69,1) 46%, rgba(0,0,0,1) 100%); */
    /* background-color: rgba(169,204,180,255); */
    /* color: rgba(65,51,50,255); */
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
    border-radius: 4px;
}
.about p{
    padding: 0px 80px;
}
.about h2{
    font-weight: bold;
}
@media only screen and (max-width:600px) {
    .about p{
        padding: 0px 10px;
    }
}
.services{
    padding: 3rem 5rem;
}

 .services, .message h2{
    text-align: center;
    color: rgba(65,51,50,255);
}

.service-images{
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));   
    gap:5px;
}
.box>img{
    width: 300px;
    height: 250px;
 }

 .box{
     padding-top: 10px;
    
 }
.service-images img:hover{
    transform: scale(1.02);
} 
.message{
    margin: 20px;
    text-align: center;
}
hr{
    width: 100px;
}
.form-input{
    padding: 10px;
}
label{
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(42,55,63,255);
}
input{
    width: 60%;
    height: 40px;
    align-items: center;
}
textarea{
    width: 60%;
    padding: 0px;
    height: 100px;
}

footer{
    align-items: center;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(198,206,69,1) 100%);
    color: white;
    padding: 20px 10px;
    font-size: 0.9rem;
    border-radius: 4px;  
}
footer h2{
    text-transform: uppercase;
}
.footer-wrapper{
    text-transform: lowercase;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    justify-content: center;
    gap: 50px;
    margin: 2rem 5rem;
}
@media only screen and(max-width:600px){
    footer{
        align-items: center;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(198,206,69,1) 100%);
        color: white;
        padding: 10px 10px;
        font-size: 0.6rem;
        border-radius: 4px;
    }
    .footer-wrapper{
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
        justify-content: center;
        gap: 10px;
        margin: 0.5rem 1rem;
    }
}
.footer-contact ul{
    list-style-type: none;  
    text-transform: lowercase;
}
.footer-contact li{
    padding: 3px;
}
.footer-contact a{
    color: white;
    /* font-size: 0.8rem; */
}


